{% extends "base.html" %}

{% block content %}
    {% set user_list = ['Инженер', 'Строитель', 'Доктор', 'Механик', 'Полицейский'] %}
    <h2>Список профессий</h2>
    {% if list == 'ol' %}
    <ol>
        {% for user in user_list %}
        <li>{{ user }}
        </li>
        {% endfor %}
    </ol>
    {% elif list == 'ul' %}
    <ul>
        {% for user in user_list %}
        <li> {{ user }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Введён не верный параметр</h2>
    {% endif %}
{% endblock %}